@model List<TaskListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (Model.Count != 0)
{
    <a asp-action="AddTask" class="btn btn-outline-info btn-sm my-2">Yeni Bir Task Oluştur</a>
    <table class="table table-sm table-hover table-bordered">
        <tr>
            <th>Adı</th>
            <th>Oluşturulma Tarihi</th>
            <th>Önem Sırası</th>
            <th>Düzenle</th>
            <th>Sil</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.CreatedOn.ToString("D")</td>
                <td>@item.Priority.Definition</td>
                <td> <a asp-action="UpdateTask" asp-controller="Task" asp-route-id="@item.Id" class="btn btn-info btn-warning btn-sm"><i class="fas fa-pen-square"></i></a></td>
                <td> <a data-toggle="modal" data-target="#deleteModal" data-delete="@item.Id" class="btn btn-info btn-warning btn-sm"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
        }
    </table>
}
else
{
    <div class="p-3 text-center mt-3">
        <p class="lead">
            Herhangi bir task bulunamadı.
        </p>
        <a asp-action="AddTask" class="btn btn-info btn-sm">Yeni Bir Task Oluştur</a>
    </div>
}

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">UYARI</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Kaydı silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button id="btnDelete" type="button" class="btn btn-primary">EVET</button>
                <button type="button" data-dismiss="modal" class="btn btn-secondary">HAYIR</button>
            </div>
        </div>
    </div>
</div>

@section JavaScript{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#deleteModal").on("show.bs.modal", function (event) {
                let trigger = $(event.relatedTarget);
                let id = trigger.data("delete");
                $("#btnDelete").click(function () {
                    $.ajax({
                        type: "Get",
                        url: "./Task/DeleteTask",
                        data: { id: id },
                        dataType: "json",
                        contentType: "application/json charset=utf-8;",
                        success: function () {
                            window.location.reload();
                        },
                        error: function (er) {
                            alert(er.statusText);
                        }
                    })
                });
            })
        });
    </script>
}