@model AppUserListDto

@{ string active = TempData["Active"]?.ToString(); }

<div class="border border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <img src="~/img/@Model.Picture" alt="@Model.Name" class="w-100 img-thumbnail" style="height:10rem!important; width:10rem!important;" />
    </div>
    <div class="list-group list-group-flush">
        <a asp-action="Index" asp-controller="Home" class="list-group-item list-group-item-action @(active=="home"?"active":"")"><i class="fas fa-home mr-1"></i>Ana Sayfa</a>
        <a asp-action="Index" asp-controller="Task" class="list-group-item list-group-item-action @(active=="task"?"active":"")"><i class="fas fa-tasks mr-1"></i>Görev İşlemleri</a>
        <a asp-action="Index" asp-controller="Priority" class="list-group-item list-group-item-action @(active=="priority"?"active":"")"><i class="fas fa-exclamation mr-1"></i>Önem Sırası İşlemleri</a>
        <a asp-action="Index" asp-controller="TaskOperation" class="list-group-item list-group-item-action @(active=="taskOperation"?"active":"")"><i class="fas fa-user-edit mr-1"></i>Görev Atama İşlemleri</a>
        <a asp-action="Index" asp-controller="Graphic" class="list-group-item list-group-item-action @(active=="graphics"?"active":"")"><i class="fas fa-chart-bar mr-1"></i>Grafikler</a>
        <a asp-action="Index" asp-controller="Notification" class="list-group-item list-group-item-action position-relative @(active=="notifications"?"active":"")">
            <i class="far fa-bell mr-2"></i>
            @if (ViewBag.NotificationCount > 0)
            {
    <sub class="badge badge-info badge-pill position-absolute" style="bottom:0.625rem!important; left:1.7rem!important"><small>@ViewBag.NotificationCount</small></sub>}
            Bildirimler
        </a>
        <a asp-action="Index" asp-controller="Profile" class="list-group-item list-group-item-action @(active=="profile"?"active":"")"><i class="fas fa-user mr-1"></i>Profilim</a>
        <a asp-area="" asp-action="SignOut" asp-controller="Home" class="list-group-item list-group-item-action"><i class="fas fa-sign-out-alt mr-1"></i>Çıkış Yap</a>
    </div>
</div>