@model UserAssignListViewModel

@{
    ViewData["Title"] = "AssignUser";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <div class="row">
        <div class="col-md-4 mt-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center lead pt-1">Görev Bilgisi</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Model.Task.Name</h5>
                    <p class="card-text">@Model.Task.Description</p>
                    <p class="card-text">
                        <strong>Aciliyet Durumu</strong> <span class="badge badge-info">@Model.Task.Priority.Definition</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8 mt-3">
            <div class="card-header">
                <h5 class="text-center">Personel Bilgileri</h5>
            </div>
            <div class="card mb-3 p-2">
                
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="~/img/@Model.AppUser.Picture" class="card-img img-thumbnail" style="height:11rem!important;" alt="@Model.AppUser.Name">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@Model.AppUser.Name @Model.AppUser.Surname</h5>
                            <p class="card-text">
                                <getTasksByAppUserId app-user-id="@Model.AppUser.Id"></getTasksByAppUserId>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">@Model.AppUser.Email</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-12">
            <form asp-action="AssignUserList" method="post">
                <p class="lead text-center">
                    Yukarıdaki göreve ilgili personel atanacaktır. Bu işlemi gerçekleştirmek istediğinizden emin misiniz?
                </p>
                <div class="form-group text-center">
                    <a asp-action="AssignUserList" asp-route-id="@Model.Task.Id" class="btn btn-warning btn-sm">Hayır</a>
                    <input type="hidden" name="AppUserId" value="@Model.AppUser.Id" />
                    <input type="hidden" name="TaskId" value="@Model.Task.Id" />
                    <button type="submit" class="btn btn-primary btn-sm">Evet</button>
                </div>
            </form>
        </div>
    </div>

